header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#home {
    background-color: brown;
    position: relative;
}
.pic {
    position: absolute;
    top: 20px;
    left: 450px;
}

